.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.flip-card-inner.flip-active {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem; 
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #264a80;
    border: 2px solid #264a80;
}

.flip-card-back {
    background-color: #e0effe; 
    border: 1px solid #264a80;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}


